{% extends "pages/patchouli/text.html.jinja" %}

{% block inner_body %}
  This is the template for rendering the <tt>hexlink:example</tt> page type.
  <b>{{ page.example_value }}</b>
  {{ super() }}
{% endblock %}
